background:-webkit-linear-gradient(90deg, #5900ff 0%, #00b3ff 80%);
background:-o-linear-gradient(90deg, #5900ff 0%, #00b3ff 80%);
background:-moz-linear-gradient(90deg, #5900ff 0%, #00b3ff 80%);
background:linear-gradient(90deg, #5900ff 0%, #00b3ff 80%);
